.topic-vote-index{
    .art-menu{
        .rem(min-height,440);
        li{
            .rem(height,200);
            >span{
                display: block;
                text-align: center;
                color: #999;
                .rem(font-size,20);
            }
        }
    }
    .set{
        h2{
            .rem(width,180);
            .rem(margin-left,-90);
        }
    }
}