
.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-arrow(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 16);
		.rem(height, 26);
	}
	.hover(@isHover);
	
	.rem(background-position, -130, -152);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-arrow{
	.rem(background-position, -130, -152);
	.rem(width, 16);
	.rem(height, 26);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-dine(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 38);
		.rem(height, 32);
	}
	.hover(@isHover);
	
	.rem(background-position, -50, -152);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-dine{
	.rem(background-position, -50, -152);
	.rem(width, 38);
	.rem(height, 32);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-hotel(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -152);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel{
	.rem(background-position, 0, -152);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-phone(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 33);
		.rem(height, 33);
	}
	.hover(@isHover);
	
	.rem(background-position, -228, -43);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-phone{
	.rem(background-position, -228, -43);
	.rem(width, 33);
	.rem(height, 33);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-phone2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 33);
		.rem(height, 33);
	}
	.hover(@isHover);
	
	.rem(background-position, -228, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-phone2{
	.rem(background-position, -228, 0);
	.rem(width, 33);
	.rem(height, 33);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-question(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 32);
		.rem(height, 32);
	}
	.hover(@isHover);
	
	.rem(background-position, -228, -86);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-question{
	.rem(background-position, -228, -86);
	.rem(width, 32);
	.rem(height, 32);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-tag(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 22);
		.rem(height, 26);
	}
	.hover(@isHover);
	
	.rem(background-position, -98, -152);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-tag{
	.rem(background-position, -98, -152);
	.rem(width, 22);
	.rem(height, 26);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-travels_comment(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 30);
		.rem(height, 25);
	}
	.hover(@isHover);
	
	.rem(background-position, -228, -167);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_comment{
	.rem(background-position, -228, -167);
	.rem(width, 30);
	.rem(height, 25);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-travels_distance(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 29);
		.rem(height, 29);
	}
	.hover(@isHover);
	
	.rem(background-position, -228, -128);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_distance{
	.rem(background-position, -228, -128);
	.rem(width, 29);
	.rem(height, 29);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-travels_gray(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, -152, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_gray{
	.rem(background-position, -152, 0);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-travels_hotel(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, -76, -76);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_hotel{
	.rem(background-position, -76, -76);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-travels_shop(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -76);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_shop{
	.rem(background-position, 0, -76);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-travels_tag(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, -76, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_tag{
	.rem(background-position, -76, 0);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-travels_text(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, -152, -76);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_text{
	.rem(background-position, -152, -76);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 261, 192);
}
.icon-travels_viewpoint(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_viewpoint{
	.rem(background-position, 0, 0);
	.rem(width, 66);
	.rem(height, 66);
}

