
.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-add-trip(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 36);
		.rem(height, 36);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -514);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-add-trip{
	.rem(background-position, 0, -514);
	.rem(width, 36);
	.rem(height, 36);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-android(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 46);
		.rem(height, 54);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -405);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-android{
	.rem(background-position, 0, -405);
	.rem(width, 46);
	.rem(height, 54);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-apple(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 42);
		.rem(height, 54);
	}
	.hover(@isHover);
	
	.rem(background-position, -56, -405);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-apple{
	.rem(background-position, -56, -405);
	.rem(width, 42);
	.rem(height, 54);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-arrow(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 17);
		.rem(height, 26);
	}
	.hover(@isHover);
	
	.rem(background-position, -174, -469);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-arrow{
	.rem(background-position, -174, -469);
	.rem(width, 17);
	.rem(height, 26);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-art-menu-1(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 122);
		.rem(height, 123);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -140);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-art-menu-1{
	.rem(background-position, 0, -140);
	.rem(width, 122);
	.rem(height, 123);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-art-menu-2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 124);
		.rem(height, 124);
	}
	.hover(@isHover);
	
	.rem(background-position, -140, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-art-menu-2{
	.rem(background-position, -140, 0);
	.rem(width, 124);
	.rem(height, 124);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-art-menu-3(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 122);
		.rem(height, 122);
	}
	.hover(@isHover);
	
	.rem(background-position, -132, -140);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-art-menu-3{
	.rem(background-position, -132, -140);
	.rem(width, 122);
	.rem(height, 122);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-art-menu-4(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 122);
		.rem(height, 122);
	}
	.hover(@isHover);
	
	.rem(background-position, -274, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-art-menu-4{
	.rem(background-position, -274, 0);
	.rem(width, 122);
	.rem(height, 122);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-art-menu-5(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 122);
		.rem(height, 122);
	}
	.hover(@isHover);
	
	.rem(background-position, -274, -132);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-art-menu-5{
	.rem(background-position, -274, -132);
	.rem(width, 122);
	.rem(height, 122);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-art-menu-6(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 122);
		.rem(height, 122);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -273);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-art-menu-6{
	.rem(background-position, 0, -273);
	.rem(width, 122);
	.rem(height, 122);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-assign_success(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 130);
		.rem(height, 130);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-assign_success{
	.rem(background-position, 0, 0);
	.rem(width, 130);
	.rem(height, 130);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-blue_gou(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 44);
		.rem(height, 28);
	}
	.hover(@isHover);
	
	.rem(background-position, -406, -364);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-blue_gou{
	.rem(background-position, -406, -364);
	.rem(width, 44);
	.rem(height, 28);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-comment-v2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 32);
		.rem(height, 29);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -353);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-comment-v2{
	.rem(background-position, -532, -353);
	.rem(width, 32);
	.rem(height, 29);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-comment-v3(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 42);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -270, -405);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-comment-v3{
	.rem(background-position, -270, -405);
	.rem(width, 42);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-detail-btn(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 34);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-detail-btn{
	.rem(background-position, -532, 0);
	.rem(width, 34);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-dine(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 38);
		.rem(height, 32);
	}
	.hover(@isHover);
	
	.rem(background-position, -94, -469);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-dine{
	.rem(background-position, -94, -469);
	.rem(width, 38);
	.rem(height, 32);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-distance-v2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 30);
		.rem(height, 32);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -311);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-distance-v2{
	.rem(background-position, -532, -311);
	.rem(width, 30);
	.rem(height, 32);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-entertainment(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 39);
		.rem(height, 35);
	}
	.hover(@isHover);
	
	.rem(background-position, 0, -469);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-entertainment{
	.rem(background-position, 0, -469);
	.rem(width, 39);
	.rem(height, 35);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-guide(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 20);
		.rem(height, 24);
	}
	.hover(@isHover);
	
	.rem(background-position, -242, -349);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-guide{
	.rem(background-position, -242, -349);
	.rem(width, 20);
	.rem(height, 24);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-beauty(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -322, -405);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-beauty{
	.rem(background-position, -322, -405);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-cbd(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -482, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-cbd{
	.rem(background-position, -482, 0);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-creditcard(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -482, -250);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-creditcard{
	.rem(background-position, -482, -250);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-gym(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -482, -150);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-gym{
	.rem(background-position, -482, -150);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-metting(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -372, -405);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-metting{
	.rem(background-position, -372, -405);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-park(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -422, -405);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-park{
	.rem(background-position, -422, -405);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-phone(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 33);
		.rem(height, 35);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -138);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-phone{
	.rem(background-position, -532, -138);
	.rem(width, 33);
	.rem(height, 35);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-restaurant(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -482, -50);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-restaurant{
	.rem(background-position, -482, -50);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-safe(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -482, -100);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-safe{
	.rem(background-position, -482, -100);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-spa(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -482, -400);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-spa{
	.rem(background-position, -482, -400);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-star(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -482, -200);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-star{
	.rem(background-position, -482, -200);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-v2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 44);
		.rem(height, 44);
	}
	.hover(@isHover);
	
	.rem(background-position, -216, -405);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-v2{
	.rem(background-position, -216, -405);
	.rem(width, 44);
	.rem(height, 44);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel-wifi(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -482, -300);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel-wifi{
	.rem(background-position, -482, -300);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-hotel(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 40);
		.rem(height, 40);
	}
	.hover(@isHover);
	
	.rem(background-position, -482, -350);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-hotel{
	.rem(background-position, -482, -350);
	.rem(width, 40);
	.rem(height, 40);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-lottery-arrow(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 21);
		.rem(height, 33);
	}
	.hover(@isHover);
	
	.rem(background-position, -46, -514);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-lottery-arrow{
	.rem(background-position, -46, -514);
	.rem(width, 21);
	.rem(height, 33);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-phone(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 33);
		.rem(height, 33);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -183);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-phone{
	.rem(background-position, -532, -183);
	.rem(width, 33);
	.rem(height, 33);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-phone2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 33);
		.rem(height, 33);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -226);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-phone2{
	.rem(background-position, -532, -226);
	.rem(width, 33);
	.rem(height, 33);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-question(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 32);
		.rem(height, 32);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -269);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-question{
	.rem(background-position, -532, -269);
	.rem(width, 32);
	.rem(height, 32);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-red_gou(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 26);
		.rem(height, 18);
	}
	.hover(@isHover);
	
	.rem(background-position, -272, -349);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-red_gou{
	.rem(background-position, -272, -349);
	.rem(width, 26);
	.rem(height, 18);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-search_input(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 30);
		.rem(height, 30);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -392);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-search_input{
	.rem(background-position, -532, -392);
	.rem(width, 30);
	.rem(height, 30);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-search_sub(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 22);
		.rem(height, 14);
	}
	.hover(@isHover);
	
	.rem(background-position, -308, -349);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-search_sub{
	.rem(background-position, -308, -349);
	.rem(width, 22);
	.rem(height, 14);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-sence-v2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 44);
		.rem(height, 44);
	}
	.hover(@isHover);
	
	.rem(background-position, -162, -405);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-sence-v2{
	.rem(background-position, -162, -405);
	.rem(width, 44);
	.rem(height, 44);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-shop-v2(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 44);
		.rem(height, 44);
	}
	.hover(@isHover);
	
	.rem(background-position, -108, -405);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-shop-v2{
	.rem(background-position, -108, -405);
	.rem(width, 44);
	.rem(height, 44);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-shopping(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 35);
		.rem(height, 35);
	}
	.hover(@isHover);
	
	.rem(background-position, -49, -469);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-shopping{
	.rem(background-position, -49, -469);
	.rem(width, 35);
	.rem(height, 35);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-signin-success(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 100);
		.rem(height, 100);
	}
	.hover(@isHover);
	
	.rem(background-position, -132, -273);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-signin-success{
	.rem(background-position, -132, -273);
	.rem(width, 100);
	.rem(height, 100);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-tag(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 22);
		.rem(height, 26);
	}
	.hover(@isHover);
	
	.rem(background-position, -142, -469);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-tag{
	.rem(background-position, -142, -469);
	.rem(width, 22);
	.rem(height, 26);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-topic-arrow(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 12);
		.rem(height, 23);
	}
	.hover(@isHover);
	
	.rem(background-position, -460, -364);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-topic-arrow{
	.rem(background-position, -460, -364);
	.rem(width, 12);
	.rem(height, 23);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-topic-home-news(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 50);
		.rem(height, 50);
	}
	.hover(@isHover);
	
	.rem(background-position, -406, -304);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-topic-home-news{
	.rem(background-position, -406, -304);
	.rem(width, 50);
	.rem(height, 50);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-travels_comment(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 30);
		.rem(height, 25);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -471);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_comment{
	.rem(background-position, -532, -471);
	.rem(width, 30);
	.rem(height, 25);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-travels_distance(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 29);
		.rem(height, 29);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -432);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_distance{
	.rem(background-position, -532, -432);
	.rem(width, 29);
	.rem(height, 29);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-travels_gray(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, -406, -76);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_gray{
	.rem(background-position, -406, -76);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-travels_hotel(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, -406, -228);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_hotel{
	.rem(background-position, -406, -228);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-travels_shop(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, -406, -152);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_shop{
	.rem(background-position, -406, -152);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-travels_tag(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, -406, 0);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_tag{
	.rem(background-position, -406, 0);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-travels_text(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, -318, -273);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_text{
	.rem(background-position, -318, -273);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-travels_viewpoint(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 66);
		.rem(height, 66);
	}
	.hover(@isHover);
	
	.rem(background-position, -242, -273);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-travels_viewpoint{
	.rem(background-position, -242, -273);
	.rem(width, 66);
	.rem(height, 66);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-vote-num(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 34);
		.rem(height, 34);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -94);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-vote-num{
	.rem(background-position, -532, -94);
	.rem(width, 34);
	.rem(height, 34);
}


.iconSprite(){
	background-image: url(../img/sprite.png);
	.rem(background-size, 566, 550);
}
.icon-vote-rank(@isHover: false){

	.hover (@a) when (@a = false) {
		.iconSprite();
		.rem(width, 34);
		.rem(height, 34);
	}
	.hover(@isHover);
	
	.rem(background-position, -532, -50);
}

[class^="icon-"],
[class*=" icon-"]{
	.iconSprite();
}
.icon-vote-rank{
	.rem(background-position, -532, -50);
	.rem(width, 34);
	.rem(height, 34);
}

